
.create--form {
  display: grid;
  grid-template: 40px 40px / 1fr 3fr;
  gap: 10px;
}

.create--description {
  align-self: center;
  font-weight: bold;
}

.create--input {
  text-indent: 6px;
  border: 0;
  border-radius: 5px;
}
