.ex-info {
  display: flex;
  flex-direction: column;
  margin: -32px 70px;
}

.ex-info > h2 {
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

.ex-info p {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  align-self: left;
  max-width: 90%;
  margin: 20px 30px;
}

.ex-info b {
  font-weight: 1000;
  text-decoration: underline;
}

.ex-info hr {
  border: 1px solid var(--color1);
  margin: 20px 30px;
  /* width: 85%; */

}

.ex-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.ex-button {
  align-self: center;
}
