.card {
  background-color: #c7da3b;
  
  border: 2px solid #000202;
  border-spacing: 200px;
  border-radius: 12px;
  box-sizing: border-fit;
  
  width: 175px;
  margin: 1.5rem;
  
  padding-left: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
}

.card-text {
  font-size: small;
  text-align: left;
  color: black;
}

.card-picture {
  object-fit: cover;
  border-radius: 8px;

  height: 150px;
  width: 200px;
}

.card-heading {
  font-size: large;
  text-align: left;
  color: black;
  font-weight: bold;
}

.card-button {
  align-self: center;
  margin-top: auto;
}
