
.General {
  background: rgba(201, 217, 88, 0.45);
  text-align: center;
  /* margin-top: 130px; */
  margin-left: 282px;
  margin-right: 282px;
  padding-top: 130px;
  padding-bottom: 100%;
}

.container {
  background-color: #215086;
  margin-top: -21 px;
  margin-left: 282px;
  margin-right: 282 px;
  height: 180vh;


}

hr {
  background-color: black;
  width: auto;
  height: 5;
  margin-left: auto;
  margin-right: auto;
  border: 1;


.cardShow{
  display:flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
  overflow-x: auto;
 /*  /* margin-top: 130px;
  margin-left: 282px;
  margin-right: 282px;
  padding-top: 130px;
  padding-bottom: 100%; */
}
