@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

/*  Color variables from our Figma prototype */

:root {
  --color1: #34401a;
  --color2: #64732f;
  --color3: #cad959;
  --color4: #7d8541;
  --color5: #252617;
  --red1: #591420;
  --red2: #350c13;
  --darkgrey: #c4c4c4;
  --lightgreen: #c9d95873;

  --main-font: "Nunito Sans";
  --general-margin: 20px 60px;
  --general-border-radius: 8px;
}

::placeholder {
  font-family: var(--main-font);
}

/*  The general styling of our main content window  */

.main {
  font-family: var(--main-font);
  background-color: var(--lightgreen);
  margin: 0% 15%;
  padding: 32px 127px;
  min-height: 100vh;
}

.main > h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.main h3 {
  font-size: 24px;
}

hr {
  border: 1px solid var(--color1);
  margin: 20px 30px;
}

/*  Landing page (/home)  styling:   */

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home--icons {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh;
  grid-gap: 50px;
  justify-items: center;
  text-align: center;
}

/*  Find Transport:   */

.find-transport {
  margin: var(--general-margin);
}

.find-cards {
  margin: 0% -3%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/*  Contact:  */

.contact-div {
  margin: var(--general-margin);
}

.contact-header {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}
.contact-text {
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}

.contact-div a {
  font-style: small;
  font-weight: normal;
  text-decoration: underline;
  color: blue;
}

/*  Sign up:  */

.sign-up {
  margin: var(--general-margin);
}

.guest-header {
  grid-column: 2;
  text-decoration: dashed;
}

.guest-save-button {
  grid-column: 2;
  justify-self: end;
}

.car-save {
  grid-column: 2;
  justify-self: end;
}

.signup-button {
  grid-column: 2;
  margin: 15px 40% 8px 0px;
}

.cancel-button {
  grid-column: 2;
  margin: 0px 40% 0px 0px;
}

/*  Create excursion:   */

.create-ex {
  margin: var(--general-margin);
}

.create-form {
  display: grid;
  grid-template-columns: 150px auto;
  font-size: 14px;
  align-items: center;
  min-width: 400px;
  max-width: 500px;
}

.create-form-date {
  display: grid;
  grid-template-columns: 150px 110px auto 110px;
  align-items: center;
  min-width: 400px;
  max-width: 500px;
  font-size: 14px;
}

input {
  font-family: var(--main-font);
  font-size: 12px;
  text-indent: 3px;
  padding: 8px 6px;
  margin: 4px 0px;
  border: 1px solid #ccc;
  border-radius: var(--general-border-radius);
  height: 14px;
}

.create-ex textarea {
  font-family: var(--main-font);
  font-size: 12px;
  text-indent: 3px;
  padding: 8px 6px;
  margin: 4px 0px;
  border: 1px solid #ccc;
  border-radius: var(--general-border-radius);
  height: 60px;
  resize: vertical;
}

.create-form select,
option {
  font-family: var(--main-font);
  text-indent: 3px;
  margin: 8px 0px;
  height: 28;
  width: 60%;
  align-items: baseline;
}

.create-form-car {
  display: grid;
  grid-template-columns: 150px 450px;
  font-size: 14px;
  align-items: center;
  min-width: 100%;
}

.create-ex-buttons {
  grid-column: 2;
  padding: 14px 0px;
}

/*  Participant list:   */

.participant-list {
  margin: var(--general-margin);
}

.plist {
  height: 60vh;
  overflow: auto;
}

.participant-header {
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
  display: grid;
  grid-template-columns: 200px 320px 50px 10px 10px;
  gap: 10px;
}

.participant-single {
  font-size: 14px;

  display: grid;
  grid-template-columns: 200px 320px 50px 15px 15px;
  gap: 10px;
  padding-top: 6px;

  box-sizing: content-box;
  align-items: center;
  justify-items: left;

  border-bottom: 1px dotted;
  width: 100%;
  transition: border-bottom 0.2s;
}

/*  Duty list:  */

.duty-list {
  margin: var(--general-margin);
  display: flex;
  flex-direction: column;
  
}

.duty-list-container {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
}
.duty-list-header {
  display: grid;
  grid-template-columns: 25% 65%;
  grid-gap: 10px;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 12px;
  text-decoration: underline;
}

.duty-single-line {
  display: grid;
  grid-template-columns: 25% 65% auto auto;
  grid-gap: 10px;
  align-items: center;
  padding-top: 6px;

  border-bottom: 1px dotted;
  transition: border-bottom 0.2s;
}

/*  Shopping list:  */

.shopping-list {
  margin: var(--general-margin);
}

.shopping-add {
  padding-top: 15px;
  display: grid;
  grid-template-columns: 300px 100px 100px auto;
  grid-gap: 4px 20px;
  align-items: center;
}

.shopping-item {
  display: grid;
  grid-template-columns: 300px 100px 100px auto auto;
  grid-gap: 4px 20px;
  align-items: center;
  margin-left: 4px;
  padding-top: 6px;
  box-sizing: content-box;
  width: 97%;
  border-bottom: 1px dotted black;
}

.shopping-quan {
  justify-self: end;
  padding-right: 10px;
}

.no-excursion {
  margin: var(--general-margin);
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ex-admin {
  margin: var(--general-margin);
  display: flex;
  flex-direction: column;
}

.ex-details {
  font-weight: 900;
  margin: 0;
  padding-top: 18px;
}
