
.General {
  background: rgba(201, 217, 88, 0.45);
  text-align: center;
  /* margin-top: 130px; */
  margin-left: 282px;
  margin-right: 282px;
  padding-top: 130px;
  padding-bottom: 100%;
}

.cardShow{
  display:flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
  overflow-x: auto;
 /*  /* margin-top: 130px;
  margin-left: 282px;
  margin-right: 282px;
  padding-top: 130px;
  padding-bottom: 100%; */
}

/* Navbar styling */

.navbar {
  position: absolute;
  width: 100%;
  background-color: #CAD959;
  padding: 46px 282px;
}

.navbar a:link {
  color: #34401A;
  text-decoration: none;
  font-size: 24px;
  padding-left: 36px;
  padding-right: 36px;
}

.navbar a:visited {
  color: #34401A;
}

.navbar a:hover {
  background-color: #64732F;
  padding-top: 42px;
  padding-bottom: 42px;
}